---
layout: base
title:
parallax: True
---

<!-- assign variable to invalidate cache upon each new build -->
{% assign cache_buster = site.time | date: '%s%N' %} {% assign data =
site.data.general.items %}

<div
    class="parallax-window d-flex align-items-center justify-content-center"
    data-image-src="/assets/img/drone-crop-spraying.jpg"
    data-parallax="scroll"
    style="height: 60vh"
>
    <div class="p-3">
        <h1>{{data.home.top.headline}}</h1>
        <h3 class="text-white">{{data.home.top.subline}}</h3>
        <p>
            <a
                href="{{data.home.top.button.url}}"
                class="mt-4 btn btn-lg fw-semibold fs-4 btn-primary"
            >
                {{data.home.top.button.text}}
            </a>
        </p>
    </div>
</div>

<div class="container py-5 my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <h2 class="fs-1">{{data.home.boilerplate.text}}</h2>
        </div>
    </div>
</div>

<div class="container py-5 my-5">
    {% for i in data.home.galleries.items %} {% assign test =
    forloop.index|modulo: 2 %}
    <div class="row mt-4 justify-content-center">
        <div class="col-md-6 order-xs-last px-0 px-sm-3">
            <img src="{{i.src}}" alt="{{i.text}}" class="img-fluid" />
        </div>
        <div
            class="col-md-6 align-self-center {% if test == 0 %}order-sm-first{% endif %}"
        >
            <p class="fs-2 fw-semibold py-5 px-2 px-sm-5">{{i.text}}</p>
        </div>
    </div>
    {% endfor %}
    <div class="row justify-content-center mt-5 pt-5">
        <div class="col-md-6 align-self-center px-3 px-sm-5">
            <h3 class="fs-2 fw-semibold">
                {{data.home.galleries.about.heading}}
            </h3>
            <p class="mt-4">{{data.home.galleries.about.text}}</p>
            <p class="mt-4">
                <a
                    href="{{data.home.galleries.about.button.url}}"
                    class="btn btn-primary fw-semibold"
                >
                    {{data.home.galleries.about.button.text}}
                </a>
            </p>
        </div>
        <div class="col-md-6 px-0 px-sm-3">
            <img
                src="{{data.home.galleries.about.img}}"
                alt="{{i.text}}"
                class="img-fluid"
            />
        </div>
    </div>
</div>

<div
    class="py-5 my-5"
    style="background-image: url('{{data.home.blog.img}}');background-size: cover;background-position: bottom"
>
    <div class="container" style="min-height: 60vh">
        <h2 class="fs-1 pt-5 my-5 text-center text-white">
            {{data.home.blog.heading}}
        </h2>
        <div class="row mt-5">
            {% for i in site.posts limit:3 %}
            <div class="col-md-4 mb-4">
                <a href="{{i.url}}">
                    <div
                        class="position-relative"
                        style="min-height: 300px;background-image: url('{% if i.img %}{{i.img}}{% else %}{{data.home.blog.img}}'){% endif %};background-size:cover"
                    >
                        <div
                            class="p-4 d-flex position-absolute w-100 h-100"
                            style="
                                background-color: rgba(128, 128, 128, 0.65);
                                top: 0;
                                left: 0;
                            "
                        >
                            <h3
                                class="fs-2 text-center text-white fw-semibold text-center mt-auto"
                            >
                                {{i.title}}
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container py-5 my-5">
    <div class="row align-items-center">
        <div
            id="messageCol"
            class="col-md-6 h-100 d-inline-block"
            style="background-image: url('{{data.home.message.img}}');background-position: bottom left;"
        >
            <h2 class="text-white fs-1 mt-5 pt-5 ms-5 ps-5">
                {{data.home.message.heading}}
            </h2>
        </div>
        <div class="col-md-6 pt-5">{% include contact.html %}</div>
    </div>
</div>

<div class="bg-primary py-5 text-white text-center">
    <div class="container py-3">
        <h3>Follow us on social media</h3>
        <p class="mb-0">
            {% for i in site.social_media %}
            <a
                href="{{i.url}}"
                target="_blank"
                class="me-3"
                aria-label="{{i.name}}"
                rel="noopener"
            >
                <i class="bi-{{i.name|downcase}} text-white fs-1"></i>
            </a>
            {% endfor %}
        </p>
    </div>
</div>
