<nav class="navbar navbar-expand-lg fixed-top bg-white">
    <a class="navbar-brand" href="/">
        <img
            class="ms-5 mt-2"
            width="200px"
            src="{{'/assets/img/Aero-Fleet-One-logo.png' | relative_url }}?{{cache_buster}}"
            alt="{{site.title}}"
        />
    </a>

    <button
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler hamburger hamburger--spring d-lg-none"
        data-bs-target="#navbarNav"
        data-bs-toggle="collapse"
        type="button"
    >
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto me-2 fs-5">
            {% for i in site.data.general.items.navigation %}
            <li class="nav-item ml-lg-2">
                <a
                    class="nav-link px-3 {% if forloop.last %}ms-2 fs-5 btn btn-primary mb-4 d-inline{% endif %} {% if forloop.first and page.url == '/' %} active{% endif %}{% unless forloop.first %}{% unless forloop.last %}{% if page.url contains i.url %} active{% endif %}{% endunless %}{% endunless %}"
                    href="/{{i.url}}{% unless forloop.first %}/{% endunless %}"
                >
                    {{i.name|upcase}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
