---
--- 

$primary: #136bc2;
$secondary: blue;
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {font-family: 'Montserrat', sans-serif;}

h1 {
    font-weight: 800;
    font-size: 3.5rem;
    color: #fff;
}

h2 {
    font-weight: 600;
}

p {
    color: #474747;
}

a {
    color: #474747;
    &:hover {
        color:#464646;
    }
}

.fw-semibold {
    font-weight: 600;
}

.rounded-1 {
    border-radius: 1rem !important;
}



@import "navbar";
@import "hamburger";
@import "map";