<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        {% include navbar.html %}
        <div
            class="p-1 bg-primary"
            id="top-msg"
            style="display: none; position: relative"
        >
            <p class="text-center text-white align-self-center pt-5 mt-5">
                <small>
                    We use cookies to improve our website. Read more about which
                    cookies we use in our
                    <a
                        class="text-reset"
                        data-bs-toggle="modal"
                        href="#privacyModal"
                    >
                        privacy policy
                    </a>
                    .
                    <a
                        class="btn btn-sm btn-light top-msg-close"
                        href="/blog/2021/exploring-the-future-at-auvsi-xponential/"
                    >
                        Understood.
                    </a>
                </small>
            </p>
        </div>

        <div id="top" class="main" style="min-height: 80vh">{{ content }}</div>

        {% include footer.html %}
    </body>
</html>
