---
layout: base
---

<div class="bg-light" style="margin-top: 8rem">
    <div class="container py-5 my-5">
        <div class="col-md-8">
            <h1 class="py-5 my-5 text-dark">{{page.title}}</h1>
            {% if page.img %}
            <img src="{{page.img}}" alt="{{post.title}}" class="img-fluid" />
            <p>{{page.subtitle}}</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="container py-5 my-5">
    <div class="row">
        <div class="col-md-8">{{content}}</div>
    </div>
    <a class="btn btn-primary mt-5" href="/blog/">Back to Blog</a>
</div>
